#rover-map{
  width:100%;
  height:50%;
}
.lat-row{
  display: flex;
  flex-direction: row;
}
.long-row{
  display: flex;
  flex-direction: row;
}
.descrip-row{
  display: flex;
  flex-direction: row;
}
