#rover-map{
  width:100%;
  height:50%;
}
.lat-row{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.long-row{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
.descrip-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.big-container{
  display:flex;
  flex-direction:column;
  align-content: space-between;
}
